:root { 
--white_A700_3f:#ffffff3f; 
--light_blue_700:#0079d3; 
--lime_A200:#e6ff32; 
--yellow_806:#f69f27; 
--red_400:#f66058; 
--yellow_808:#d6a336; 
--yellow_807:#f5a524; 
--gray_900_19:#000c3819; 
--teal_501:#03b384; 
--teal_500:#00b67a; 
--yellow_800:#ecb22e; 
--yellow_801:#f8a61b; 
--lime_800_26:#c2980226; 
--pink_500:#f21361; 
--deep_orange_400_1f:#d37e421f; 
--cyan_A700:#06b6d4; 
--white_A700_4c:#ffffff4c; 
--blue_900:#215a99; 
--pink_50:#ffd1ed; 
--blue_901:#003399; 
--gray_900_21:#0a0a1e21; 
--amber_500:#fbbc04; 
--black_900_99:#00000099; 
--cyan_50:#dcf2fa; 
--white_A700_1e:#ffffff1e; 
--light_blue_A400:#00b7fa; 
--yellow_903:#f68010; 
--light_blue_600:#179bd7; 
--yellow_902:#f2852f; 
--red_300:#eb7474; 
--red_301:#e06c75; 
--gray_110:#f5f7fa; 
--gray_111:#f0f2f5; 
--teal_400:#2fb2af; 
--white_A700_33:#ffffff33; 
--teal_401:#33c481; 
--black_900_66:#00000066; 
--yellow_901:#ef6c22; 
--yellow_900:#ff800d; 
--gray_105:#f3f3f1; 
--green_200_dd:#91ee91dd; 
--blue_803:#295fd2; 
--gray_106:#f6f7f8; 
--gray_103:#f6f6ef; 
--blue_801:#005fcc; 
--gray_104:#f1f3f5; 
--blue_802:#1153d6; 
--gray_109:#f5f5ee; 
--blue_800:#2655d8; 
--gray_107:#f2f8fc; 
--gray_108:#f8f8f2; 
--gray_100:#f5f5f7; 
--indigo_A400:#504dea; 
--bluegray_300_59:#9bacbc59; 
--red_600:#ef2222; 
--light_blue_500:#00acee; 
--purple_904:#4b2e83; 
--teal_700:#009845; 
--purple_902:#4b2f84; 
--purple_903:#4c3085; 
--deep_orange_300:#ed975d; 
--purple_900:#4b2e84; 
--pink_700:#be2f47; 
--white_A700_19:#ffffff19; 
--purple_901:#4c2f84; 
--deep_orange_301:#ff9650; 
--lime_500:#cbdc37; 
--white_A700_0c:#ffffff0c; 
--lime_501:#d2e823; 
--amber_700:#ffa202; 
--orange_401:#fd922d; 
--orange_400:#fca326; 
--deep_purple_500_66:#7928ca66; 
--white_A700_26:#ffffff26; 
--cyan_A400:#00f0ff; 
--deep_purple_900:#2c1799; 
--light_blue_A201:#34caff; 
--red_501:#ea4335; 
--red_504:#ff412c; 
--light_blue_A200:#36c5f0; 
--red_500:#ee4637; 
--amber_A400:#fcc805; 
--black_900:#000000; 
--black_902:#18000e; 
--cyan_A200_4c:#39fffc4c; 
--cyan_A404:#00f9ec; 
--cyan_A403:#00f9fc; 
--cyan_A402:#01f0e5; 
--cyan_A401:#00f2ea; 
--white_A700_00:#ffffff00; 
--indigo_100:#bfbafc; 
--teal_100:#a9eee0; 
--black_900_00:#00000000; 
--deep_orange_502:#f26a21; 
--deep_orange_501:#fb651e; 
--purple_A205:#d437fd; 
--purple_A204:#ff4ecd; 
--deep_orange_A700:#fa140f; 
--purple_A203:#b249f8; 
--purple_A202:#ff1cf7; 
--purple_A201:#eb22ef; 
--deep_orange_500:#f06827; 
--purple_A200:#e55ada; 
--pink_100:#ffbcca; 
--blue_A700_19:#2761ff19; 
--gray_500_4c:#9797974c; 
--blue_500:#1d9bf0; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--black_900_15:#0a0b0d14; 
--green_A200_5a:#6aff925a; 
--blue_A702:#2563eb; 
--blue_A701:#2761ff; 
--gray_51:#f3f9fd; 
--cyan_A201:#39fffc; 
--cyan_A200:#22e3ef; 
--gray_54:#fafafa; 
--gray_53:#fdfdf8; 
--gray_56:#f7f8fa; 
--gray_55:#f9fafb; 
--blue_A700:#0061ff; 
--gray_50:#f5f8ff; 
--deep_purple_300:#8a6de8; 
--red_50:#ffe5f8; 
--light_green_900:#3f3f00; 
--green_51:#e6faef; 
--teal_50:#dafbe8; 
--green_50:#e8fcf1; 
--indigo_300:#7289da; 
--indigo_301:#6e9fd4; 
--bluegray_200_87:#b7bfda87; 
--blue_400:#5497d7; 
--cyan_501:#00cec8; 
--cyan_502:#14bad8; 
--indigo_302:#6092e3; 
--cyan_500:#01cfea; 
--white_A700_7f:#ffffff7f; 
--light_blue_100:#b8e4f5; 
--deep_purple_400:#9750dd; 
--indigo_A100:#9d97f4; 
--black_900_3f:#0000003f; 
--white_A700_99:#ffffff99; 
--teal_300:#3fb8af; 
--amber_A700:#e6a700; 
--black_900_49:#00000049; 
--black_900_4c:#0000004c; 
--blue_702:#0068e0; 
--blue_700:#1473e6; 
--blue_701:#2665d6; 
--indigo_400:#5b6fad; 
--black_900_56:#00000056; 
--bluegray_202:#aaaeb3; 
--bluegray_201:#b7bfda; 
--bluegray_200:#b8c4d0; 
--white_A701:#fafefe; 
--white_A700:#ffffff; 
--indigo_401:#5b7ad1; 
--indigo_A201:#5d5fef; 
--deep_purple_500:#7828c8; 
--indigo_A200:#587dff; 
--deep_purple_501:#7928ca; 
--black_900_23:#00000023; 
--deep_orange_A400:#fd430f; 
--purple_600:#992c87; 
--deep_orange_A401:#ff5500; 
--black_900_26:#00000026; 
--deep_orange_A402:#ff4500; 
--blue_601:#2181e2; 
--blue_602:#268bd2; 
--blue_600:#1a73e8; 
--bluegray_100:#d9d9d9; 
--white_A700_87:#ffffff87; 
--bluegray_107:#d5dae0; 
--bluegray_106:#d3d3d3; 
--black_900_33:#00000033; 
--bluegray_105:#d8d8d8; 
--bluegray_104:#cbcbcb; 
--bluegray_103:#d7dbdf; 
--bluegray_102:#cccccc; 
--bluegray_101:#d2dce4; 
--cyan_700:#0da2a3; 
--bluegray_52:#edeff1; 
--gray_930:#141414; 
--bluegray_51:#ebeef1; 
--gray_931:#001c3d; 
--bluegray_50:#edf1f6; 
--blue_A401:#0a7cff; 
--blue_A400:#3a76f0; 
--green_700:#0f9549; 
--gray_800_91:#47474891; 
--gray_927:#1f1f1f; 
--gray_928:#272727; 
--gray_804:#434343; 
--gray_925:#4d3800; 
--gray_926:#2a2a2a; 
--gray_805:#4c4c4c; 
--gray_929:#0a1e25; 
--gray_920:#1e2330; 
--gray_802:#505050; 
--gray_923:#1a1a1b; 
--gray_803:#363449; 
--gray_924:#1e1e1e; 
--gray_800:#414144; 
--gray_801:#4e4e4e; 
--gray_922:#1c1c1c; 
--bluegray_405:#8089ab; 
--bluegray_404:#889096; 
--deep_purple_50:#f1e8fb; 
--white_A700_fc:#fffffffc; 
--bluegray_402:#7e868c; 
--bluegray_401:#888888; 
--bluegray_400:#8e8e8e; 
--deep_purple_51:#eadcf8; 
--gray_916:#1a1a1a; 
--blue_102:#b0d0f7; 
--gray_917:#292519; 
--blue_100:#c6dbff; 
--gray_914:#000c36; 
--blue_101:#b7dbf0; 
--gray_915:#170c32; 
--blue_800_2b:#295fd22b; 
--gray_918:#131313; 
--bluegray_54:#f0f1f2; 
--gray_919:#11181c; 
--bluegray_406:#878a8c; 
--bluegray_53:#eceef0; 
--deep_orange_A200:#f36534; 
--gray_912:#222222; 
--gray_913:#212322; 
--indigo_A100_19:#8c9eff19; 
--gray_910:#1b1b21; 
--gray_911:#091b36; 
--blue_400_1f:#4299d31f; 
--green_603:#41a050; 
--green_602:#34a33c; 
--green_601:#21a366; 
--green_600:#34a853; 
--green_A200:#6fee8d; 
--white_A700_cc:#ffffffcc; 
--pink_A401:#f8005b; 
--pink_A400:#ff004f; 
--green_600_16:#34a33c16; 
--pink_A402:#ff007c; 
--gray_905:#232323; 
--gray_906:#081a20; 
--gray_903:#121212; 
--gray_904:#261b32; 
--gray_909:#07054a; 
--deep_orange_A201:#e36d35; 
--gray_907:#3a0d2e; 
--gray_908:#1d1e22; 
--white_A700_e5:#ffffffe5; 
--gray_901:#202021; 
--deep_purple_200_2b:#bd93ed2b; 
--gray_902:#010c28; 
--gray_900:#3f0035; 
--teal_A200:#4ef5cd; 
--cyan_101:#b8e8f4; 
--white_A700_dd:#ffffffdd; 
--cyan_102:#bee6e6; 
--teal_A400_b2:#3dffbfb2; 
--cyan_100:#b6eaed; 
--bluegray_301:#8599ac; 
--bluegray_300:#9bacbc; 
--indigo_700:#244e9d; 
--white_A700_f2:#fffffff2; 
--purple_100:#e9c0e9; 
--gray_611:#757677; 
--white_A700_b2:#ffffffb2; 
--gray_612:#6e747a; 
--deep_orange_A100:#ffb27d; 
--gray_610:#76777a; 
--blue_A202:#3f8fff; 
--white_A700_b3:#ffffffb3; 
--cyan_400_4c:#15c1e64c; 
--blue_A200:#3d7ffc; 
--blue_A201:#4285f4; 
--gray_200_b2:#e6e8ebb2; 
--green_500:#3cc840; 
--red_900_14:#b8252514; 
--bluegray_955:#282a36; 
--white_A700_aa:#ffffffaa; 
--bluegray_954:#333333; 
--bluegray_953:#202d5a; 
--bluegray_952:#343434; 
--gray_300_19:#e0e0e019; 
--gray_608:#6b7280; 
--purple_A400:#d717e7; 
--gray_609:#75777a; 
--gray_606:#787c7e; 
--gray_607:#757575; 
--red_A700:#e60022; 
--bluegray_958:#313233; 
--bluegray_957:#323334; 
--bluegray_956:#323232; 
--gray_600:#6e6e6e; 
--gray_601:#808080; 
--blue_306:#57a5ff; 
--gray_604:#687076; 
--blue_304:#66acff; 
--gray_605:#7c7c7c; 
--blue_305:#61afef; 
--gray_602:#777777; 
--blue_302:#5ea2ef; 
--gray_603:#716f6f; 
--blue_303:#6ac3e2; 
--bluegray_100_87:#d9d9d987; 
--bluegray_600:#526373; 
--white_A700_bf:#ffffffbf; 
--blue_300:#669df6; 
--bluegray_100_7f:#d6d6d67f; 
--indigo_801:#28457e; 
--indigo_800:#253b80; 
--cyan_400:#15c1e6; 
--purple_200:#c678dd; 
--blue_A100:#80b0ff; 
--blue_A101:#76a5ff; 
--blue_A700_87:#2761ff87; 
--green_401:#6aaf72; 
--green_400:#4ade80; 
--green_A400:#00ff57; 
--green_A401:#00fe76; 
--blue_100_8c:#abd2ff8c; 
--green_A402:#00ff76; 
--gray_700:#676b5f; 
--orange_A700:#ff6a05; 
--blue_203:#98def4; 
--indigo_50:#e9ebf2; 
--gray_701:#646464; 
--indigo_904:#0c2d66; 
--blue_A200_4c:#3d7ffc4c; 
--gray_702:#555555; 
--indigo_905:#003470; 
--blue_204:#85c2ff; 
--indigo_51:#dfe4ee; 
--orange_A701:#ff6500; 
--teal_A400:#05ffcf; 
--cyan_300:#5fd1ce; 
--blue_201:#a0d7ef; 
--indigo_902:#010187; 
--blue_202:#99ccee; 
--indigo_903:#222d65; 
--indigo_900:#001a9e; 
--blue_200:#9fc0ff; 
--indigo_901:#002169; 
--pink_903:#780016; 
--pink_900:#7c2525; 
--gray_900_99:#11181c99; 
--pink_A100:#ff79c6; 
--teal_901:#07582d; 
--teal_900:#005128; 
--light_green_50_3f:#f5f5eb3f; 
--light_blue_A700:#0072f5; 
--light_blue_A701:#0070f3; 
--light_blue_A702:#0084ff; 
--gray_402:#c6c6c6; 
--gray_403:#afafaf; 
--gray_400:#b0b0b0; 
--gray_401:#bebebe; 
--gray_406:#bbbbbb; 
--gray_407:#c3c6cb; 
--gray_404:#c0c0c0; 
--gray_405:#c1c8cd; 
--orange_200:#e5c07b; 
--bluegray_801:#303b45; 
--bluegray_800:#2f3857; 
--indigo_A700:#2622ef; 
--bluegray_802:#303d58; 
--red_704:#e13023; 
--red_700:#e12130; 
--red_702:#d8232e; 
--red_701:#c74634; 
--indigo_200_66:#a1abcf66; 
--deep_purple_A100:#9b88fa; 
--gray_501:#b69faf; 
--gray_502:#929292; 
--gray_500:#909090; 
--gray_503:#979797; 
--gray_504:#a4a4a4; 
--black_900_a3:#000000a3; 
--orange_100:#fad7b4; 
--bluegray_700:#4e5052; 
--green_901:#185c37; 
--green_900:#008000; 
--light_green_400:#98c379; 
--light_blue_901:#004ca3; 
--light_blue_900:#0052b0; 
--green_A700:#00bf63; 
--gray_600_2d:#6870762d; 
--green_A701:#23cf5f; 
--black_900_dd:#000000dd; 
--green_A702:#17c964; 
--green_A703:#02a95c; 
--green_A704:#1bd760; 
--green_A705:#00af2f; 
--green_A706:#15c629; 
--gray_204:#eff0ec; 
--gray_205:#e9ebed; 
--gray_202:#e6e8eb; 
--gray_203:#ecedee; 
--orange_A200:#fda942; 
--amber_301:#f3d153; 
--gray_208:#e8e7e6; 
--gray_209:#e8e9eb; 
--gray_206:#efefe8; 
--gray_207:#e5e7eb; 
--blue_54:#e0efff; 
--amber_300:#fece4d; 
--gray_200:#ececec; 
--blue_52:#e1efff; 
--gray_201:#e9e9e9; 
--blue_53:#ecf0ff; 
--blue_50:#e7eeff; 
--blue_51:#e6eeff; 
--gray_314:#dad6e5; 
--red_901:#b82525; 
--gray_312:#dcdde0; 
--gray_313:#dcdee0; 
--red_900:#800000; 
--green_803:#256643; 
--green_802:#02af02; 
--lime_A100:#f1fa8c; 
--green_801:#108944; 
--light_green_300:#b5d66d; 
--green_800:#107c41; 
--gray_310:#e1e1e1; 
--gray_600_14:#68707614; 
--gray_311:#e6e6dd; 
--light_blue_800:#007cc2; 
--gray_600_0a:#6870760a; 
--yellow_701:#f1c32e; 
--yellow_700:#f9bd2e; 
--gray_309:#e2e2e2; 
--gray_304:#e0e2d9; 
--gray_307:#dedede; 
--gray_308:#dddddd; 
--gray_900_87:#0a1e2587; 
--gray_305:#dae0e6; 
--gray_306:#e3e3e3; 
--gray_300:#d3e0ec; 
--bluegray_900:#152041; 
--black_900_cc:#000000cc; 
--deep_purple_300_4c:#8a6de84c; 
--light_green_50:#f5f5eb; 
--bluegray_905:#092349; 
--bluegray_904:#151940; 
--bluegray_903:#182339; 
--bluegray_902:#2c1f3a; 
--bluegray_901:#1d2c49; 
}